.App {
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #3E362E;
  font-size: 1.4rem;
}

.main-content { 
  margin-top: 3rem;
}

html {
  background-color: #A69080;
}

.section { 
  text-align: left;
  margin-top: 3rem;
}

.section h2 { 
  margin-bottom: 1rem;
}

.video-player { 
  z-index: 0;
  position: relative;
} 

@media(max-width: 80rem) {   
  html {    
    padding: 0 5vw;
  }

  .video-player { 
   display: flex;
   justify-content: space-around;
  }
  
  .main-content { 
    padding-bottom: 10vh;
  }

  .paragraph { 
    width: 90vw;
  }
}


@media(min-width: 80rem) {
  html {    
    padding: 0 12.5vw;
  }

  .paragraph { 
    width: 35vw;
    margin-right: 2.5vw;
  }
  .content-body {
    display: flex; 
    justify-content: space-between;
    width: 100%;
  }

  iframe { 
    max-width: 40vw;
  }
  
  .content-section { 
    width: 75vw;
  }

  h3 { 
    margin-top: 5rem;
  }

}
.paragraph { 
  margin-top: 0.75rem;
}

.link { 
  margin-top: 0.5rem;
}

@font-face { 
  font-family: 'prompt-font';
  src: url('../public/fonts/promptfont.ttf') format('truetype');
}

.console-key { 
  font-family:'prompt-font';
}

iframe { 
  max-width: 80vw;
  margin: 1rem 0 2rem 0;
  border: none;
}

@media(min-width: 80rem) { 
  .nav { 
    height: 100vh; 
    position: fixed; 
    left: 0;
    top: 0;
    background-color: #93785B;
    max-width: 10vw;
    box-shadow: 0 0 15px rgba(0,0,0,0.75);
    clip-path: inset(0px -15px 0px 0px);
    text-align: left;
    display: block;
  }

  .link-item { 
    min-height: 3rem;
    width: calc(10vw - 2rem);
  }

  
  .logo { 
    margin: 2vh 0 10vh 0;
    display: block;
    padding: 1rem;
  }

  
  .link-item:hover > div, .link-item-selected > div { 
    background-color: #AC8968; 
    box-shadow: 0 0 15px rgba(0,0,0,0.75);
    clip-path: inset(0px -15px 0px 0px);
  }

  .link-item > div { 
    padding: 1rem;
  }
}

@media(max-width: 80rem) { 
  .nav { 
    width: 100vw;
    position: fixed; 
    bottom: 0;
    left: 0;
    display: flex;
    background-color: #93785B;
    z-index: 999;
    min-height: 10vh;
  }

  .logo { 
    display: none;
  }

    
  .link-item:hover, .link-item-selected { 
    background-color: #AC8968; 
    box-shadow: 0 0 15px rgba(0,0,0,0.75);
    clip-path: inset(-15px 0px 0px 0px);
  }

  .link-item > div { 
    padding: 1rem;
  }
}

.link-item { 
  font-weight: bold;
}

a { 
  all: unset;
}

.link-item:hover { 
  cursor: pointer;
}


